@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
box-sizing: border-box;

}
body{
  background-color: black;
}
header{
}
.headermenu{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 79px;
  max-width: 1200px;
  border-bottom: 1px solid seashell;
}
.logo img{
  margin-top: 15px;
  margin-left: 15px;
  height: 50px;
}
.menu{
  color: aliceblue;
  display: flex;
}
ul{
  display: flex;
  list-style: none;
}
li{
  margin: 20px 20px;
  font-family: Roboto;
  font-size: 22px;
}
.hero{
  align-items: center;
  max-width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/media/img-mission-background.jpg");
}
.text h2{
    padding-top: 10px;
margin-left: auto;
margin-right: auto;
color: white;
font-family: Helvetica;
}
.text h4{
  padding-top: 25px;
margin-left: auto;
margin-right: auto;
color: white;
font-family: Helvetica;
text-align: center;
}

.text{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1200px;
  height: 100px;
  opacity: 0.85;
  
}

.section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.section h2{
  color: aliceblue;
  font-family: Helvetica, sans-serif;
  padding-bottom: 20px;
}
.section h4{
  color: aliceblue;
  font-family: Helvetica, sans-serif;
}

.images{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.img1{
  margin: 20px;
  text-align: center;
  color: white;
}
.img1 h4{
  padding-top: 10px;
}
.img1 img{
  border-radius: 10px;
  width: 300px;
  height: 200px;
}